src/playground/smartgardener-node-red-wizard/sg-nd-base.json
[{"id":"b9b4aba9.9306a8","type":"tab","label":"Set up","disabled":false,"info":"This is procedure to launch a wall."},{"id":"fb358056.d4518","type":"tab","label":"Showcase","disabled":false,"info":""},{"id":"d614d27a.12f7d","type":"subflow","name":"Vegetal_Citizen","info":"This entity represents any inhabitant a wall could hold on its plots.","category":"Models","in":[{"x":62.00000190734863,"y":71.00000190734863,"wires":[{"id":"76f91414.5cbcfc"}]}],"out":[{"x":473.00001335144043,"y":69.0000114440918,"wires":[{"id":"76f91414.5cbcfc","port":0}]}],"icon":"node-red/arduino.png"},{"id":"e8dc25a1.4f15b8","type":"subflow","name":"Plot","info":"A plot is on a wall. A plot holds a Vegetal_Citizen.","category":"Models","in":[{"x":73.00000381469727,"y":161.0000057220459,"wires":[{"id":"22b19ee1.8f54f2"}]}],"out":[{"x":535.0000152587891,"y":162.00000381469727,"wires":[{"id":"4c7adad1.0504d4","port":0}]}],"icon":"node-red/leveldb.png"},{"id":"7d4c25dc.121eec","type":"subflow","name":"Wall","info":"A wall is made by many plots holding Vegetal_Citizens.","category":"Models","in":[{"x":50,"y":30,"wires":[{"id":"1c731c84.c67c33"}]}],"out":[{"x":907.0000038146973,"y":51,"wires":[{"id":"1c731c84.c67c33","port":0},{"id":"e349ef83.e58b4","port":0},{"id":"78401848.dd9828","port":0},{"id":"d0000a9e.4c7238","port":0}]},{"x":1005.0000038146973,"y":523.0000004768372,"wires":[]},{"x":1006.0001106262207,"y":605.0000171661377,"wires":[]},{"x":999.0001106262207,"y":687.0000190734863,"wires":[]}],"icon":"node-red/debug.png"},{"id":"453dd696.5fb378","type":"subflow","name":"Region","info":"This represents a climate weather cicle place in the world. \n\nThe three major climate zones on the Earth are the polar, temperate, and tropical zones.","category":"models aleph 1","in":[{"x":134.0000228881836,"y":132.0000114440918,"wires":[{"id":"84869f69.2eeb5"}]}],"out":[{"x":911.0001888275146,"y":125.00008392333984,"wires":[{"id":"4fce8b6d.cba4b4","port":0}]}],"icon":"node-red/white-globe.png"},{"id":"d68dc2a5.22b94","type":"subflow","name":"Circadian","info":"This will hold day and night timer.","category":"Agents","in":[{"x":50,"y":30,"wires":[{"id":"5d658690.245de8"}]}],"out":[{"x":351.00002098083496,"y":35.00000190734863,"wires":[{"id":"ffb94e78.aa041","port":0},{"id":"5d658690.245de8","port":0}]}],"icon":"node-red-dashboard/ui_date_picker.png"},{"id":"6b56387f.6f05b8","type":"subflow","name":"Seasons timer","info":"This represents meteorological seasons timer\n\nNorth:\n\nSpring: 1 March to 31 May.\nSummer: 1 June to 31 August.\nAutumn: 1 September to 30 November.\nWinter: 1 December to 28 February. Southern Hemisphere.\n\nSouth:\n\nSpring: 1 September to 30 November.\nSummer: 1 December to 28 February.\nAutumn: 1 March to 31 May.\nWinter: 1 June to 31 August.","category":"Agents","in":[{"x":185.00000381469727,"y":173.00000381469727,"wires":[{"id":"4ce8217.e82cae"}]}],"out":[{"x":693.0000171661377,"y":91.00000381469727,"wires":[{"id":"6b1b4fc2.faf3f","port":0},{"id":"4ce8217.e82cae","port":0}]}]},{"id":"eb1bfa99.d35218","type":"subflow","name":"Weather Report","info":"Use this entity to hold either a forecast or an archived weather report.","category":"models aleph 1","in":[{"x":50,"y":30,"wires":[{"id":"8f9d201a.00acc"}]}],"out":[{"x":763.0000247955322,"y":131.00000190734863,"wires":[{"id":"7267cf18.4e26c","port":0}]}]},{"id":"1a9c53c.ff343ac","type":"subflow","name":"Weather conditions timeline","info":"","category":"models aleph 1","in":[{"x":50,"y":30,"wires":[{"id":"50ea919d.979cf"}]}],"out":[{"x":852.0000247955322,"y":36.000003814697266,"wires":[{"id":"fb91097d.9fd258","port":0}]},{"x":851.0000190734863,"y":102.00000190734863,"wires":[]}]},{"id":"76ca1921.ea20d8","type":"subflow","name":"IoT Agent","info":"Use this agent to switch motors like pumping and so on...","category":"models aleph 0","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[{"id":"76ca1921.ea20d8","port":0}]}],"icon":"node-red/timer.png"},{"id":"dd056be8.57aab8","type":"subflow","name":"Brain","info":"Use this entity to connect from one side an environment and from the other as many agents to react.","category":"models aleph 0","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":454.00000286102295,"y":35.000003814697266,"wires":[{"id":"adaa3e4f.c94ec","port":0}]},{"x":529.0000076293945,"y":202.00000286102295,"wires":[{"id":"2ee072b8.d1c00e","port":0}]},{"x":573.0000076293945,"y":105.00000190734863,"wires":[{"id":"33273b9f.7a0b54","port":0}]}],"icon":"node-red/split.png"},{"id":"7d10cf8c.54de9","type":"subflow","name":"SmartCitizen","info":"Se smartcitizen api.\n\nhttps://api.smartcitizen.me/v0/devices/4616","category":"models aleph 0","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":170.00000381469727,"y":41,"wires":[{"id":"7d10cf8c.54de9","port":0}]}],"icon":"node-red/feed.png"},{"id":"1d5d345c.956fdc","type":"subflow","name":"Citizen TimeLapse","info":"Use this engine to represent a citizen timelapse,\ngive citizen age and get time lapse frame.\n\nLike in https://www.youtube.com/watch?v=kNjAOlBpdNc","category":"models aleph 3","in":[{"x":74.00000190734863,"y":144.00000190734863,"wires":[{"id":"69fe1256.1c359c"}]}],"out":[{"x":544.0000085830688,"y":147.00000381469727,"wires":[{"id":"69fe1256.1c359c","port":0}]}],"icon":"node-red/redis.png"},{"id":"e2aa9f2e.5b9b5","type":"subflow","name":"Environment","info":"Use this port to split out interactions towards external env.","category":"models aleph 2","in":[{"x":50,"y":30,"wires":[{"id":"fc8a6979.8bf438"}]}],"out":[{"x":470.0000123977661,"y":50,"wires":[{"id":"6de63af8.af5e14","port":0},{"id":"592744a0.877cdc","port":0}]},{"x":523.0000057220459,"y":96,"wires":[]},{"x":576.0000171661377,"y":154.00000190734863,"wires":[]},{"x":626.0000190734863,"y":222.00000190734863,"wires":[]},{"x":697.0000190734863,"y":318.00000190734863,"wires":[]}],"icon":"node-red/link-out.png"},{"id":"6ae916bd.7183c8","type":"subflow","name":"engine","info":"Use this machine to manage walls at CGV.","category":"aleph null","in":[{"x":50,"y":30,"wires":[{"id":"b2bda321.6c63"}]}],"out":[{"x":921.0000267028809,"y":111.0000057220459,"wires":[{"id":"d0c13aef.18b5b8","port":0}]}],"icon":"node-red/light.png"},{"id":"7b7b27c4.0c6bc8","type":"subflow","name":"Visual recognition for wall overview","info":"Install your wall. Take a pic for the perenne\nparts. You can place a cam monitoring your wall\nor just call the \"supervisor dron\" to monitor\nyour structure.\n\nThis agent will take the pic to convulacional\nnetwork just to check that everything is fine.","category":"Agents","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":1007.0000247955322,"y":388.0000104904175,"wires":[{"id":"986c27a6.a33258","port":0}]},{"x":1010.000020980835,"y":447.00009632110596,"wires":[{"id":"f36ca232.89967","port":0}]}],"icon":"node-red/batch.png"},{"id":"b01540e7.96f6","type":"subflow","name":"App UI","info":"Use this to get at localhost:1880/ui pretty\ndesk.","category":"CGV App","in":[{"x":50,"y":30,"wires":[{"id":"bfcc1d09.d076f"},{"id":"1d888064.f0cbe"},{"id":"3b87e205.afd17e"},{"id":"1ee3cb57.a147d5"},{"id":"bd83b085.cb064"},{"id":"d9bd0e54.8342f"}]}],"out":[],"icon":"node-red/watch.png"},{"id":"442f419c.94773","type":"ui_tab","z":"","name":"CGV","icon":"dashboard"},{"id":"e42996d6.3ca338","type":"ui_group","z":"","name":"PoC for Wall","tab":"442f419c.94773","disp":true,"width":"12","collapse":true},{"id":"bd98bb47.9f6008","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e349ef83.e58b4","type":"subflow:e8dc25a1.4f15b8","z":"7d4c25dc.121eec","name":"Plot at row 1 col 1","x":564.5000152587891,"y":165.33335876464844,"wires":[[]]},{"id":"78401848.dd9828","type":"subflow:e8dc25a1.4f15b8","z":"7d4c25dc.121eec","name":"Plot at row 1 col 2","x":558.5000152587891,"y":249.3333396911621,"wires":[[]]},{"id":"6986667.bfcc298","type":"inject","z":"6b56387f.6f05b8","name":"Season timer","topic":"Season timer","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":179.5,"y":91,"wires":[["6b1b4fc2.faf3f"]]},{"id":"fb91097d.9fd258","type":"subflow:eb1bfa99.d35218","z":"1a9c53c.ff343ac","name":"","x":633.5001373291016,"y":102.33342170715332,"wires":[[]],"icon":"node-red/file.png"},{"id":"50ea919d.979cf","type":"function","z":"1a9c53c.ff343ac","name":"Get archived forecast","func":"return msg;","outputs":1,"noerr":0,"x":347.5000457763672,"y":102.00001239776611,"wires":[["fb91097d.9fd258"]]},{"id":"8f9d201a.00acc","type":"function","z":"eb1bfa99.d35218","name":"Get forecast","func":"var cgv = global.get(\"cgv\");\n\nvar report = {\n    \"request\": Date.now(),\n    \"forecast\": \"Asking for weather forecast\"\n}\n\ncgv.weather_library.push(report);\n\nglobal.set(\"cgv\", cgv);\n\nreturn msg;","outputs":1,"noerr":0,"x":125,"y":129,"wires":[["7267cf18.4e26c"]]},{"id":"7267cf18.4e26c","type":"function","z":"eb1bfa99.d35218","name":"Save forecast","func":"forecasts = [\n    {\n        \"request\": Date.now(),\n        \"forecast\": {\n            \"issues\": \"First rainy, then windy and the rest sunny!\"\n        }\n    },\n    {\n        \"request\": Date.now(),\n        \"forecast\": {\n            \"issues\": \"Totally sunny!\"\n        }\n    },\n    {\n        \"request\": Date.now(),\n        \"forecast\": {\n            \"issues\": \"Very dry and a lot of ice!\"\n        }\n    }\n]\n\nvar cgv = global.get(\"cgv\");\n\nfunction getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nvar report = forecasts[getRandomInt(0,2)];\n\ncgv.weather_library.push(report);\n\nglobal.set(\"cgv\", cgv);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":619.9999694824219,"y":128.99998664855957,"wires":[[]]},{"id":"250fe068.b9367","type":"subflow:dd056be8.57aab8","z":"453dd696.5fb378","name":"","x":525.0003814697266,"y":352.00000953674316,"wires":[["4fce8b6d.cba4b4"],[],[]]},{"id":"fd6845d6.2dcb48","type":"subflow:e8dc25a1.4f15b8","z":"7d4c25dc.121eec","name":"Plot at row 2 col 1","x":565.0000953674316,"y":385.0000114440918,"wires":[[]]},{"id":"e8b2c06c.e4a5e","type":"subflow:e8dc25a1.4f15b8","z":"7d4c25dc.121eec","name":"Plot at row 2 col 2","x":337.0000457763672,"y":388.00004863739014,"wires":[[]]},{"id":"18348e64.8c6c22","type":"file","z":"1d5d345c.956fdc","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":128.5,"y":236.3333396911621,"wires":[[]]},{"id":"69fe1256.1c359c","type":"function","z":"1d5d345c.956fdc","name":"(get citizen age, return time lapse frame)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":318.50000762939453,"y":147.00000667572021,"wires":[[]]},{"id":"76f91414.5cbcfc","type":"subflow:1d5d345c.956fdc","z":"d614d27a.12f7d","name":"","x":268.50000762939453,"y":69.33335494995117,"wires":[[]]},{"id":"98dd5ab8.85d388","type":"comment","z":"eb1bfa99.d35218","name":"third party api","info":"","x":144.50000762939453,"y":189.33334064483643,"wires":[]},{"id":"2ee072b8.d1c00e","type":"batch-prediction","z":"dd056be8.57aab8","default_numeric_value":"none","confidence":false,"dataset":"","probability":true,"newline":"LF","node_id":true,"vote_counts":false,"fields_map":"","tags":"","confidences":true,"name":"batchprediction","reify":false,"vote_count":false,"probabilities":false,"excluded_fields":"","missing_strategy":0,"output_dataset":true,"prediction_name":"","votes":false,"operating_kind":null,"confidence_name":"","category":0,"output_fields":"","probability_name":"","all_fields":false,"vote_count_name":"","separator":",","webhook":"","importance":true,"operating_point":"","header":true,"description":"","input_fields":"","x":265.5,"y":234.6666774749756,"wires":[[]]},{"id":"adaa3e4f.c94ec","type":"model","z":"dd056be8.57aab8","objective_field":"","range":0,"random_candidates":0,"origin":"","random_candidate_ratio":0,"replacement":false,"tags":"","ordering":0,"optimize":false,"name":"model","reify":false,"seed":"","randomize":false,"excluded_fields":"","deep":false,"missing_splits":false,"shared_hash":"","stat_pruning":true,"fields":"","split_candidates":32,"depth_threshold":512,"category":0,"webhook":"","node_threshold":512,"model_candidates":128,"out_of_bag":false,"description":"","sample_rate":1,"support_threshold":0,"input_fields":"","x":269.5,"y":45.666728019714355,"wires":[[]]},{"id":"33273b9f.7a0b54","type":"prediction","z":"dd056be8.57aab8","explain":false,"vote_counts":"","private":false,"tags":"","name":"prediction","reify":false,"vote_count":0.5,"missing_strategy":0,"operating_kind":null,"category":0,"webhook":"","operating_point":"","description":"","x":350.50000381469727,"y":143.00000190734863,"wires":[[]]},{"id":"925cd166.7968c","type":"source","z":"7d10cf8c.54de9","item_analysis":"","project":"","tags":"","remote":"","name":"source","reify":false,"synthetic":"","source_parser":"","category":0,"disable_datetime":false,"webhook":"","data":"","term_analysis":"","description":"","x":199.5,"y":187,"wires":[[]]},{"id":"4fce8b6d.cba4b4","type":"subflow:e2aa9f2e.5b9b5","z":"453dd696.5fb378","name":"","x":723.5001449584961,"y":339.3333320617676,"wires":[[],[],[],[],[]]},{"id":"5cacc56e.a89dcc","type":"subflow:6ae916bd.7183c8","z":"b9b4aba9.9306a8","name":"","x":164.5000114440918,"y":146.00000381469727,"wires":[["985f129f.962bb","6a084ad1.a20484","2264867f.1cdd0a","93d91050.620ae","9db337cf.0ec2b8","76f09018.d0488","725aef60.4e9d3","6101dd.1f33fe24"]]},{"id":"2bc1bd70.925772","type":"inject","z":"b9b4aba9.9306a8","name":"Create a new wall","topic":"Create wall","payload":"{\"name\":\"my PoC App\",\"region\":\"west-eu\",\"dimensions\":{\"_x\":3,\"_y\":5,\"_z\":1},\"type\":\"Basil\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130.5,"y":50.000014305114746,"wires":[["8f14dee9.be9aa","5cacc56e.a89dcc"]]},{"id":"b2bda321.6c63","type":"function","z":"6ae916bd.7183c8","name":"Create wall","func":"/**\n * \"region\": \"west-europe\",\n    \"dimensions\": \"5x5\",\n    \"type\": \"Basil\"\n**/\n\n\nvar wall = {\n    \"name\": msg.payload.name,\n    \"holon\": {\n        \"region\": msg.payload.region,\n        \"dimensions\": msg.payload.dimensions,\n    },\n    \"informon\": {\n        \"type\": msg.payload.type\n        \n    },\n    \"starting\": Date.now()\n}\n\nvar cgv = {};\ncgv.timeline = [\"Creating project...\"];\ncgv.wall = wall;\n\nglobal.set(\"cgv\", cgv);\n\nreturn msg;","outputs":1,"noerr":0,"x":173.5,"y":112.00000286102295,"wires":[["31e4cd2e.cef9c2"]]},{"id":"31e4cd2e.cef9c2","type":"subflow:453dd696.5fb378","z":"6ae916bd.7183c8","name":"","x":449.50001525878906,"y":111.00002765655518,"wires":[["d0c13aef.18b5b8"]]},{"id":"50bdf752.65c8b8","type":"project","z":"6ae916bd.7183c8","name":"project","description":"","tags":"","category":0,"webhook":"","reify":false,"x":871.5000267028809,"y":227.0000696182251,"wires":[[]]},{"id":"d0c13aef.18b5b8","type":"function","z":"6ae916bd.7183c8","name":"New wall","func":"\nmsg.payload = \n    {\n        \"init\": msg.payload,\n        \"cgv\": global.get(\"cgv\"),\n        \"ram\": \"ram\",\n    }\nreturn msg;","outputs":1,"noerr":0,"x":714.0000228881836,"y":110.00002861022949,"wires":[[]]},{"id":"22b19ee1.8f54f2","type":"switch","z":"e8dc25a1.4f15b8","name":"type basil","property":"payload.informon.type","propertyType":"msg","rules":[{"t":"eq","v":"basil","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":193,"y":161,"wires":[["4c7adad1.0504d4"]]},{"id":"4c7adad1.0504d4","type":"subflow:d614d27a.12f7d","z":"e8dc25a1.4f15b8","name":"","x":390.00000381469727,"y":162,"wires":[[]]},{"id":"985f129f.962bb","type":"debug","z":"b9b4aba9.9306a8","name":"End of line","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cgv.timeline","x":510.50000762939453,"y":168.0000514984131,"wires":[]},{"id":"515f8c93.9dd784","type":"camera","z":"7b7b27c4.0c6bc8","name":"","x":143.50000190734863,"y":396.33334159851074,"wires":[["9972d5f5.6f7a68"]]},{"id":"effb634b.c1f3","type":"switch","z":"7b7b27c4.0c6bc8","name":"Pic matching","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pic matches","vt":"str"},{"t":"neq","v":"pic matches","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":541.5000133514404,"y":395.33334255218506,"wires":[["986c27a6.a33258"],["f36ca232.89967"]]},{"id":"cc55128e.485cf","type":"function","z":"7b7b27c4.0c6bc8","name":"Create and train model","func":"\nreturn msg;","outputs":1,"noerr":0,"x":593.5000152587891,"y":68.00000667572021,"wires":[["7df91822.b3e888"]]},{"id":"a9eb9bff.37ac68","type":"camera","z":"7b7b27c4.0c6bc8","name":"Camera batch","x":382.00000762939453,"y":68.00000190734863,"wires":[["cc55128e.485cf"]]},{"id":"355f35ed.356e1a","type":"model","z":"7b7b27c4.0c6bc8","objective_field":"","range":0,"random_candidates":0,"origin":"","random_candidate_ratio":0,"replacement":false,"tags":"","ordering":0,"optimize":false,"name":"model","reify":false,"seed":"","randomize":false,"excluded_fields":"","deep":false,"missing_splits":false,"shared_hash":"","stat_pruning":true,"fields":"","split_candidates":32,"depth_threshold":512,"category":0,"webhook":"","node_threshold":512,"model_candidates":128,"out_of_bag":false,"description":"","sample_rate":1,"support_threshold":0,"input_fields":"","x":928.5000267028809,"y":112.66667366027832,"wires":[["cb6315da.53f3c8"]]},{"id":"bce491d2.83131","type":"comment","z":"7b7b27c4.0c6bc8","name":"Create model","info":"","x":184.50001525878906,"y":28.00000762939453,"wires":[]},{"id":"52c8249c.b6f7bc","type":"comment","z":"7b7b27c4.0c6bc8","name":"Plugin feature: Plant health alarm by NDVI recognition","info":"","x":257,"y":203.0000057220459,"wires":[]},{"id":"425630dd.f487e","type":"inject","z":"7b7b27c4.0c6bc8","name":"Take a pic","topic":"Take a pic","payload":"pic matches","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":161.50000381469727,"y":640.9999904632568,"wires":[["9972d5f5.6f7a68"]]},{"id":"7df91822.b3e888","type":"dataset","z":"7b7b27c4.0c6bc8","objective_field":"","origin":"","refresh_field_types":false,"tags":"","name":"dataset","reify":false,"term_limit":0,"excluded_fields":"","shared_hash":"","fields":"","refresh_objective":false,"json_filter":"","category":0,"size":0,"webhook":"","lisp_filter":"","description":"","input_fields":"","x":788.5,"y":113,"wires":[["355f35ed.356e1a"]]},{"id":"986c27a6.a33258","type":"change","z":"7b7b27c4.0c6bc8","name":"Report that everything is fine","rules":[{"t":"set","p":"payload","pt":"msg","to":"Visual recognition: all it's going well!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.500020980835,"y":388.00003814697266,"wires":[[]]},{"id":"f36ca232.89967","type":"change","z":"7b7b27c4.0c6bc8","name":"Ring the bell","rules":[{"t":"set","p":"payload","pt":"msg","to":"Visual recognition: ups, something is wrong! Call for admins!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":773.9999980926514,"y":446.00000286102295,"wires":[[]]},{"id":"c11270de.9e3b4","type":"subflow:6b56387f.6f05b8","z":"453dd696.5fb378","name":"","x":125.0000228881836,"y":263.0000476837158,"wires":[["250fe068.b9367"]],"icon":"node-red/batch.png"},{"id":"db489803.cff488","type":"subflow:76ca1921.ea20d8","z":"b9b4aba9.9306a8","name":"Pumping","x":702.0000991821289,"y":444.00005054473877,"wires":[[]]},{"id":"bdf84daf.0f4d8","type":"subflow:76ca1921.ea20d8","z":"b9b4aba9.9306a8","name":"Trigger alarms & notifications","x":762.5000991821289,"y":523.0000302791595,"wires":[[]]},{"id":"a083658c.c68338","type":"subflow:76ca1921.ea20d8","z":"b9b4aba9.9306a8","name":"Start harvesting action","x":741.5000991821289,"y":483.0000114440918,"wires":[[]]},{"id":"2264867f.1cdd0a","type":"subflow:dd056be8.57aab8","z":"b9b4aba9.9306a8","name":"","x":455.0000915527344,"y":487.50009536743164,"wires":[["db489803.cff488"],["bdf84daf.0f4d8","a083658c.c68338"],["ebf340be.342fc"]]},{"id":"592744a0.877cdc","type":"subflow:d68dc2a5.22b94","z":"e2aa9f2e.5b9b5","name":"","x":205.0000228881836,"y":280.0000066757202,"wires":[["ecdf910d.0799"]]},{"id":"6de63af8.af5e14","type":"subflow:7d4c25dc.121eec","z":"e2aa9f2e.5b9b5","name":"","x":474.0000534057617,"y":252.0000524520874,"wires":[[],[],[],[]]},{"id":"8601a904.d266f8","type":"subflow:e8dc25a1.4f15b8","z":"7d4c25dc.121eec","name":"...","x":813.0000228881836,"y":254.0000123977661,"wires":[[]]},{"id":"70dcd154.58589","type":"subflow:e8dc25a1.4f15b8","z":"7d4c25dc.121eec","name":"...","x":736,"y":386,"wires":[[]]},{"id":"84869f69.2eeb5","type":"function","z":"453dd696.5fb378","name":"(Created region)","func":"var cgv = global.get(\"cgv\");\n\ncgv.timeline.push(\"Created region\");\n\nvar plots = [];\n\nvar d = cgv.wall.holon.dimensions;\n\nfunction getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nvar x,y;\nfor (y = 0; y < d._y; y++) {\n    var row = [];\n    for (x = 0; x < d._x; x++) { \n        var n = { \n            _x: x, \n            _y: y, \n            kitId: getRandomInt(1, 50),\n            size: 0,\n            sizeGrowingFactor: 4\n        };        \n        row.push(n);      \n    }\n    plots.push(row);\n}\n\ncgv.wall.holon.plots = plots;\n\nglobal.set(\"cgv\", cgv);\n\nreturn msg;","outputs":1,"noerr":0,"x":323.5000114440918,"y":132.0000057220459,"wires":[["3c0d55b3.8294aa"]]},{"id":"bee2a9ad.f03f38","type":"debug","z":"b9b4aba9.9306a8","name":"Informon","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cgv.wall.informon.plots","x":797.000129699707,"y":370.00000619888306,"wires":[]},{"id":"f9a5957c.bd07e8","type":"debug","z":"b9b4aba9.9306a8","name":"Holon","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cgv.wall","x":820.000057220459,"y":326.00002908706665,"wires":[]},{"id":"fc8a6979.8bf438","type":"function","z":"e2aa9f2e.5b9b5","name":"(CGV Steam)","func":"global.get(\"cgv\").timeline.push(\"Created environment\");\n\nreturn msg;","outputs":1,"noerr":0,"x":246,"y":35,"wires":[["6de63af8.af5e14","592744a0.877cdc"]]},{"id":"1c731c84.c67c33","type":"function","z":"7d4c25dc.121eec","name":"(Created wall)","func":"var cgv = global.get(\"cgv\")\ncgv.timeline.push(\"Created wall\");\ncgv.wall.informon.plots = [];\nglobal.set(\"cgv\", cgv);\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":61,"wires":[[]]},{"id":"4ce8217.e82cae","type":"function","z":"6b56387f.6f05b8","name":"(Season timer)","func":"var cgv = global.get(\"cgv\");\ncgv.seasons = [\"winter\", \"spring\", \"summer\", \"autumm\"];\ncgv.currentSeason = 0;\ncgv.seasonsAlive = 0;\ncgv.timeline.push(\"Created Season Timer\");\n\nglobal.set(\"cgv\", cgv);\n\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":255,"wires":[[]]},{"id":"6b1b4fc2.faf3f","type":"function","z":"6b56387f.6f05b8","name":"(Season timer pulse)","func":"var cgv = global.get(\"cgv\");\n\nif ( cgv.currentSeason > 2 ) {\n    cgv.currentSeason = 0;\n    cgv.seasonsAlive++;\n}else{\n    cgv.currentSeason++;\n}\n \nglobal.set(\"cgv\", cgv);\n\nreturn msg;","outputs":1,"noerr":0,"x":450.50000762939453,"y":86.00000095367432,"wires":[[]]},{"id":"3c0d55b3.8294aa","type":"function","z":"453dd696.5fb378","name":"Create report","func":"var cgv = global.get(\"cgv\");\n\ncgv.weather_library = [];\n\ncgv.timeline.push(\"Created weather report ai\");\n\nglobal.set(\"cgv\", cgv);\n\nreturn msg;","outputs":1,"noerr":0,"x":398.00000381469727,"y":202.00001335144043,"wires":[["c11270de.9e3b4"]]},{"id":"6a084ad1.a20484","type":"debug","z":"b9b4aba9.9306a8","name":"RAM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cgv","x":483.5000534057617,"y":130.00000190734863,"wires":[]},{"id":"af3cbd29.887d1","type":"inject","z":"7d4c25dc.121eec","name":"Smart Citizen transmission","topic":"Smart Citizen transmission","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":289.0000400543213,"wires":[["d0000a9e.4c7238"]]},{"id":"f034f1de.d5128","type":"subflow:7d10cf8c.54de9","z":"7d4c25dc.121eec","name":"CGV Leafs","x":359.50000762939453,"y":217.6666774749756,"wires":[["e349ef83.e58b4","78401848.dd9828"]]},{"id":"d0000a9e.4c7238","type":"function","z":"7d4c25dc.121eec","name":"(Plot data)","func":"var cgv = global.get(\"cgv\");\n\nfunction getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nvar snapshot = {\n        \"date\": msg.payload,\n        \"readings\": {\n            \"sensorState\": {\n                \"value\": 0\n            }\n        }\n};\n    \nvar timelinex = []; \n\nfunction jsonCopy(src) {\n  return JSON.parse(JSON.stringify(src));\n}\n\ncgv.wall.holon.plots.forEach(\n    (row, y) => {\n        timelinex.push([]);\n        row.forEach((plot, x) => {\n            snapshot.kitId = plot.kitId;\n            snapshot.size = plot.size + (1/plot.sizeGrowingFactor);\n            plot.size = snapshot.size;\n            snapshot.readings = {\n                \"sensorState\": {\n                    \"value\": getRandomInt(1,3),\n                    \"location\": {\n                        \"_x\": x,\n                        \"_y\": y\n                    }\n                }\n            }\n            timelinex[y].push(jsonCopy(snapshot));\n        })\n    });\n   \n\ncgv.wall.informon.plots.push(\n    {\n        \"date\": Date.now(),\n        \"timeline\" :timelinex\n    });\n\nglobal.set(\"cgv\", cgv);\n\nreturn msg;","outputs":1,"noerr":0,"x":289.00000762939453,"y":146.66667556762695,"wires":[[]]},{"id":"8f14dee9.be9aa","type":"debug","z":"b9b4aba9.9306a8","name":"Seed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":355.00000762939453,"y":51.66666793823242,"wires":[]},{"id":"9e8877a7.fb72f8","type":"inject","z":"d68dc2a5.22b94","name":"Circadian timer","topic":"Circadian timer","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":145.00001525878906,"y":206.0000057220459,"wires":[["ffb94e78.aa041"]]},{"id":"5d658690.245de8","type":"function","z":"d68dc2a5.22b94","name":"(Season timer)","func":"var cgv = global.get(\"cgv\");\n\nif (!cgv.circadians ) { \n\n    cgv.circadians = [\"morning\", \"afternoon\", \"evening\", \"midnight\"];\n    cgv.currentCircadian = 0;\n    cgv.timeline.push(\"Created Circadian Timer\");\n    cgv.daysAlive = 0;\n    global.set(\"cgv\", cgv);\n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":184.50000762939453,"y":27.000003814697266,"wires":[[]]},{"id":"ffb94e78.aa041","type":"function","z":"d68dc2a5.22b94","name":"(Circadian timer pulse)","func":"var cgv = global.get(\"cgv\");\n\nif ( cgv.currentCircadian > 2 ) {\n    cgv.currentCircadian = 0;\n    cgv.daysAlive++;\n} else{\n    cgv.currentCircadian++;\n}\n \nglobal.set(\"cgv\", cgv);\n\nreturn msg;","outputs":1,"noerr":0,"x":337.00000762939453,"y":114.00000858306885,"wires":[[]]},{"id":"93d91050.620ae","type":"debug","z":"b9b4aba9.9306a8","name":"Current Circadian","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cgv.currentCircadian","x":539.0000534057617,"y":247.0000286102295,"wires":[]},{"id":"9db337cf.0ec2b8","type":"debug","z":"b9b4aba9.9306a8","name":"Current Season","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cgv.currentSeason","x":523.0000534057617,"y":205.00000286102295,"wires":[]},{"id":"76f09018.d0488","type":"debug","z":"b9b4aba9.9306a8","name":"Weather Library","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cgv.weather_library","x":460.0000534057617,"y":89.00009250640869,"wires":[]},{"id":"ecdf910d.0799","type":"subflow:1a9c53c.ff343ac","z":"e2aa9f2e.5b9b5","name":"Weather conditions timeline","x":307,"y":377,"wires":[["6de63af8.af5e14"],[]],"icon":"node-red/leveldb.png"},{"id":"8b1161c5.0f404","type":"ui_template","z":"b01540e7.96f6","group":"e42996d6.3ca338","name":"Wall Info","order":1,"width":"0","height":"0","format":"<h1>{{msg.payload.name}}</h1>\n<hr>\n<h2>The wall</h2>\nIt is located at {{ msg.payload.wall.holon.region }} and sizes\n ({{ msg.payload.wall.holon.dimensions._x }}x,\n{{ msg.payload.wall.holon.dimensions._y }}y,\n{{ msg.payload.wall.holon.dimensions._z }}z),\n living {{ msg.payload.wall.informon.type }}.\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":382.0000534057617,"y":74.00000190734863,"wires":[[]]},{"id":"bfcc1d09.d076f","type":"function","z":"b01540e7.96f6","name":"Wall Info","func":"var cgv = global.get(\"cgv\");\n\nvar lastInformon;\ntry{\n    lastInformon = cgv.wall.informon.plots[cgv.wall.informon.plots.lenght -1];\n} catch(e) {\n    lastInformon = {};\n}\n\nvar view = {\n    \"name\": cgv.wall.name,\n    \"wall\": cgv.wall\n}\n\nmsg.payload = view;\n\nreturn msg;","outputs":1,"noerr":0,"x":216.5000228881836,"y":124.66666889190674,"wires":[["8b1161c5.0f404"]]},{"id":"863e4f66.40158","type":"ui_slider","z":"b01540e7.96f6","name":"","label":"Bazil lifetime","group":"e42996d6.3ca338","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":502.0000534057617,"y":413.0000114440918,"wires":[[]]},{"id":"3b87e205.afd17e","type":"function","z":"b01540e7.96f6","name":"Bazil Lifetime","func":"var cgv = global.get(\"cgv\");\n\nmsg.payload = cgv.daysAlive;\n\nreturn msg;","outputs":1,"noerr":0,"x":150.50001525878906,"y":360.666672706604,"wires":[["863e4f66.40158","38e14d50.d46ed2"]]},{"id":"8e046667.ed2738","type":"ui_slider","z":"b01540e7.96f6","name":"","label":"Environment lifetime","group":"e42996d6.3ca338","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"10","step":1,"x":471.0000114440918,"y":561.6666831970215,"wires":[[]]},{"id":"1ee3cb57.a147d5","type":"function","z":"b01540e7.96f6","name":"Environment Lifetime","func":"var cgv = global.get(\"cgv\");\n\nmsg.payload = cgv.seasonsAlive;\n\nreturn msg;","outputs":1,"noerr":0,"x":160.50001525878906,"y":436.3333435058594,"wires":[["8e046667.ed2738","a149030e.f5e3"]]},{"id":"38e14d50.d46ed2","type":"ui_template","z":"b01540e7.96f6","group":"e42996d6.3ca338","name":"day stats","order":2,"width":"5","height":"1","format":"days: {{ msg.payload }}\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":475.50001525878906,"y":342.33334255218506,"wires":[[]]},{"id":"a149030e.f5e3","type":"ui_template","z":"b01540e7.96f6","group":"e42996d6.3ca338","name":"Seasons stats","order":4,"width":"5","height":"1","format":"years: {{ msg.payload }}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":459.50001525878906,"y":493.3333492279053,"wires":[[]]},{"id":"1d19eeda.3cda01","type":"ui_template","z":"b01540e7.96f6","group":"e42996d6.3ca338","name":"Weather","order":1,"width":"12","height":"3","format":"Season: <b>{{ msg.payload.season }}</b>\n\n<blockquote>Last forecast: \n{{ msg.payload.weatherRequest }} / {{ msg.payload.weather.forecast.issues }}\n</blockquote>\n\nCircadian: <b>{{ msg.payload.circadian }}</b>\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":543.0000152587891,"y":198.33332002162933,"wires":[[]]},{"id":"1d888064.f0cbe","type":"function","z":"b01540e7.96f6","name":"Weather lifetime","func":"var cgv = global.get(\"cgv\");\n\nvar weather;\n\ntry {\n    weather = cgv.weather_library[cgv.weather_library.length - 1];\n} catch(e) {\n    weather = { \"request\": \"--\", \"issues\": \"none\" };\n}\n\nif ( cgv.wall && cgv.seasons && cgv.circadians ) {\n    \n    var view = {\n        \"name\": cgv.wall.name,\n        \"wall\": cgv.wall,\n        \"season\": cgv.seasons[cgv.currentSeason],\n        \"circadian\": cgv.circadians[cgv.currentCircadian],\n        \"weather\": weather,\n        \"weatherRequest\": new Date(weather.request)\n    }\n    \n}\n\nmsg.payload = view;\n\nreturn msg;","outputs":1,"noerr":0,"x":200.50001525878906,"y":232.99997329711914,"wires":[["1d19eeda.3cda01"]]},{"id":"725aef60.4e9d3","type":"subflow:b01540e7.96f6","z":"b9b4aba9.9306a8","name":"","x":187.50000762939453,"y":304.33334255218506,"wires":[]},{"id":"510a8340.b86f3c","type":"ui_template","z":"b01540e7.96f6","group":"e42996d6.3ca338","name":"Plots","order":0,"width":"12","height":"4","format":"<h3>Plots</h3>\n\n<table border = 1 width=\"100%\">\n    <tr ng-repeat=\"row in msg.payload.wall.holon.plots\">\n        \n        <td ng-repeat=\"plot in row\">\n            <table border = 0.5 width=\"100%\">\n                <tr>\n                    <td>\n                        {{ plot._x }}/{{ plot._y }}\n                    </td>\n                    <td>\n                        [{{ plot.kitId }}]\n                    </td>\n                </tr>\n            </table>\n        </td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":494.50001525878906,"y":122.66666984558105,"wires":[[]]},{"id":"64d046cb.5a69d8","type":"ui_template","z":"b01540e7.96f6","group":"e42996d6.3ca338","name":"Readings","order":0,"width":"12","height":"7","format":"<h3>Readings</h3>\n\n\n<table border = 1 width=\"100%\">\n    <tr ng-repeat=\"row in msg.payload.lastInformonPlot.timeline\">\n        \n        <td ng-repeat=\"plot in row\">\n            <table border = 0.5 width=\"100%\">\n                <tr>\n                    <td>\n                        <div ng-if=\"plot.readings.sensorState.value == 1\" style=\"color: #0000FF;\">\n                            -I\n                        </div>\n                        <div ng-if=\"plot.readings.sensorState.value == 2\" style=\"color: #00FF00;\">\n                            --\n                        </div>\n                        <div ng-if=\"plot.readings.sensorState.value == 3\" style=\"color: #FF0000;\">\n                            XX\n                        </div>\n                        \n                        {{ plot.readings.sensorState.location._x }}/{{ plot.readings.sensorState.location._y }}\n                    </td>\n                    <td>\n                        Size: {{ plot.size }}\n                    </td>\n                </tr>\n            </table>\n        </td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":469.50000762939453,"y":268.6666955947876,"wires":[[]]},{"id":"bd83b085.cb064","type":"function","z":"b01540e7.96f6","name":"Plots","func":"var cgv = global.get(\"cgv\");\n\nvar lastInformon;\ntry{\n    lastInformon = cgv.wall.informon.plots[cgv.wall.informon.plots.lenght -1];\n} catch(e) {\n    lastInformon = {};\n}\n\nvar view = {\n    \"name\": cgv.wall.name,\n    \"wall\": cgv.wall\n}\n\nmsg.payload = view;\n\nreturn msg;","outputs":1,"noerr":0,"x":207.00000381469727,"y":180.6666717529297,"wires":[["510a8340.b86f3c"]]},{"id":"d9bd0e54.8342f","type":"function","z":"b01540e7.96f6","name":"Readings","func":"var cgv = global.get(\"cgv\");\n\nvar lastInformon;\ntry{\n    lastInformon = cgv.wall.informon.plots[cgv.wall.informon.plots.length - 1];\n} catch(e) {\n    lastInformon = {};\n}\n\nvar view = {\n    \"name\": cgv.wall.name,\n    \"wall\": cgv.wall,\n    \"lastInformonPlot\": lastInformon\n}\n\nmsg.payload = view;\n\nreturn msg;","outputs":1,"noerr":0,"x":161.00000762939453,"y":287.6666717529297,"wires":[["64d046cb.5a69d8"]]},{"id":"ebf340be.342fc","type":"subflow:7b7b27c4.0c6bc8","z":"b9b4aba9.9306a8","name":"","x":783.5,"y":562.0000114440918,"wires":[["7bf308a9.76c878"],["39742f53.aeea8"]]},{"id":"7bf308a9.76c878","type":"debug","z":"b9b4aba9.9306a8","name":"No news are good news","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100.0000076293945,"y":545.9999866485596,"wires":[]},{"id":"39742f53.aeea8","type":"debug","z":"b9b4aba9.9306a8","name":"Last picture of the wall was not like predicted. Something has happened.","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1250,"y":580.9999885559082,"wires":[]},{"id":"d6982c7d.bfb32","type":"debug","z":"b9b4aba9.9306a8","name":"Playground","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cgv.wall","x":851.0000076293945,"y":282.0000042915344,"wires":[]},{"id":"6101dd.1f33fe24","type":"function","z":"b9b4aba9.9306a8","name":"User Inteface","func":"\nreturn msg;","outputs":1,"noerr":0,"x":546.5000038146973,"y":334.00000381469727,"wires":[["d6982c7d.bfb32","f9a5957c.bd07e8","bee2a9ad.f03f38"]]},{"id":"cb6315da.53f3c8","type":"subflow:dd056be8.57aab8","z":"7b7b27c4.0c6bc8","name":"","x":336.50000381469727,"y":396.5000171661377,"wires":[[],[],["671b30d0.87d27"]]},{"id":"9972d5f5.6f7a68","type":"subflow:76ca1921.ea20d8","z":"7b7b27c4.0c6bc8","name":"","x":240.50000381469727,"y":502.99999618530273,"wires":[["cb6315da.53f3c8"]]},{"id":"671b30d0.87d27","type":"subflow:76ca1921.ea20d8","z":"7b7b27c4.0c6bc8","name":"","x":459.00000762939453,"y":498.7999954223633,"wires":[["effb634b.c1f3"]]}]